<h1>Saludos desde unicloud.com, <%= @user.firts_name %></h1>
    <p>
      Hemos recibido tu actulización de datos en unicloud.com.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>