<h1>Bienvenido a SmartTools.com, <%= @user.firts_name %></h1>
    <p>
      Tu cuenta fue creada en SmartTools.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Gracias!</p>