<h1>Bienvenido a unicloud.com, <%= @user.firts_name %></h1>
    <p>
      Tu cuenta fue creada en unicloud.com,
      Su usuario es: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Gracias!</p>